@use "./var" as *;
@use "../components/button" as *;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;

    &::selection {
        background: $primaryColor;
        color: $secondaryColor;
    }
}

body {
    min-height: 100vh;
    background: $accent;
    overflow-x: hidden;
}

.apply-link {
    @include nbtn(1.2rem);
}

.faq {
    width: 100%;
    background-color: #fff;
    display: grid;
    gap: 1.5rem;
    padding: 100px 0;
    place-items: center;
    position: relative;
    img {
        position: absolute;
        right: 50px;
        width: 400px;
        height: auto;
        z-index: 1;
        @media (max-width: $md) {
            right: 20%;
        }
    }
}
