@use "../base/var"as *;

nav {
    display: flex !important;
    width: 100%;
    padding: 1.5rem 2.9rem;
    height: 5.5rem;
    position: sticky;
    justify-content: space-between;
    background: #e7e7e7;
    align-items: center !important;
    @extend %transition;
    z-index: 1000;

    &.bg {
        background-color: white;
        position: fixed;
        @extend %transition;
    }

    @media (max-width:$md) {
        position: sticky;
        top: 0;
    }

    img {
        width: 200px;

        @media screen and (max-width: $md) {
            width: 150px;
        }
    }

    ul {
        display: flex;
        align-items: center;
        width: 550px;
        justify-content: space-between;
        margin-top: 0;
        padding: 0;
        transform: translateY(8px);

        @media (max-width:$md) {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 5rem;
            width: 100%;
            left: 0;
            z-index: 1000;
            background-color: white;
            gap: 1.5rem;
            padding: 1.5rem;
            box-shadow: 0.1rem 0.1rem 0.9rem lighten($color: $shadow, $amount: 45);
            // display: none;

            transform: translateY(-200%);
            transition: .5s linear;

            &.down {
                transition: .5s linear;
                transform: translateY(0);
                box-shadow: 0.1rem 0.1rem 0.9rem lighten($color: $shadow, $amount: 45);


            }
        }



        li {

            &.drop {
                position: relative;

                &:hover .menu {
                    transform: translateY(0);
                    height: fit-content;
                    padding: calc($pad / 2);


                }

            }

            .menu {
                position: absolute;
                top: 35px;
                left: -175px;
                background-color: white;
                display: flex;
                border-radius: 1rem;
                box-shadow: 0 2px 2px lighten($shadow, 50);
                // width: 400px;
                // @extend %transition;
                justify-content: space-between;
                gap: 2rem;
                // transform: translateY(-200%);
                height: 0;
                padding: 0;
                overflow: hidden;

                // grid-template-columns: auto auto;
                @media (max-width:$md) {
                    display: none;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 178px;

                    h4 {
                        align-self: start;
                        font-weight: 600;
                    }

                    ul {
                        display: grid;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;
                        gap: 1rem;

                        li {
                            text-align: left;
                            padding-left: 1rem;

                            a {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }




        }
    }


    a {
        font-size: 1.3rem;
        color: $primaryColor;
        @extend %transition;

        &:hover {
            color: $secondaryColor;
        }
    }

    .toggler {
        display: none;
        font-size: 1.8rem;
        color: $primaryColor;
        cursor: pointer;

        @media (max-width: $md) {
            display: block;
        }

    }
}